<p style="color: green"><%= notice %></p>

<h1>All Clicks: <%= @clicks.length %> so far...</h1>

<div id="clicks">
  <% @clicks.each do |click| %>
    <%= render click %>
    <p>
      <%= link_to "Show this click", click %>
    </p>
  <% end %>
</div>

<div class="new">
  <%= link_to "Add a click!", new_click_path %>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
